name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GITHOOK_DISABLE: 1

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: make build

      - name: Test
        run: make test
